/***************** Header *****************/
.Header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/***************** Sidebar *****************/
.menu-int {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  background: none;
  color: #222222;
}

.Sidebar.active .menu-int {
  color: #ededed;
}

.Sidebar {
  background-color: #05375a;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 450ms;
}

.Sidebar.active {
  left: 0;
  transition: 450ms;
}

.sidebar-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 44px;
}

.sidebar-item a {
  text-decoration: none;
  color: #ededed;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.sidebar-item a:hover {
  background-color: #3263b2;
  color: #ffffff;
}

.sidebar-items {
  padding-top: 80px;
  width: 100%;
  list-style: none;
}

span {
  margin-left: 16px;
}
